BPE_WEBSITE = "Example.com"
BPE_WEBSITE_KEY = "Key"
BPE_SECRET_KEY = "Secret"
BPE_MODE = "test"
BPE_DEBUG = true
BPE_REPORT_ERROR = true

BPE_BASE_URL = "https://example.com/buckaroo/"
BPE_RETURN_URL = "${BPE_EXAMPLE_BASE_URL}return"
BPE_RETURN_URL_CANCEL = "${BPE_EXAMPLE_BASE_URL}return"
BPE_PUSH_URL = "${BPE_EXAMPLE_BASE_URL}push"
BPE_IP = "127.0.0.1"
BPE_CURRENCY_CODE = "EUR"